.AddTask {
  width: 100%;
  position: relative;
}

.AddTask__form {
  width: 70%;
  padding: 20px;
}

.AddTask__form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #A5A5A5;
  color: #434343;
  font-size: 18px;
  padding-left: 7px;
  padding-bottom: 2px;
}

.AddTask__form input::placeholder {
  color: #C8C8C8;
}

.AddTask__button {
  position: absolute;
  top: -25px;
  right: 20px;
  width: 51px;
  height: 51px;
  padding: 0;
  border: none;
  background-color: #54DC5D;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(70, 70, 70, 0.4);
}

.AddTask__button:hover .AddTask__button__vertical,
.AddTask__button:hover .AddTask__button__horizontal {
  animation: rotateAddButton 0.5s linear;
}

.AddTask__button__vertical {
  width: 3px;
  height: 35px;
  background-color: white;
  position: absolute;
  top: 8px;
  left: 24px;
  transition: transform;
}

.AddTask__button__horizontal {
  width: 35px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 24px;
  left: 8px;
  transition: transform;
}

@keyframes rotateAddButton {
  0% {
    transform: rotateZ(0);
  }
  35% {
    transform: rotateZ(90deg);
  }
  100% {
    transform: rotateZ(90deg);
  }
}
