.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 7px rgba(47, 47, 47, 0.3);
}

.icon-trash-o {
  color: #F55A2A;
  transition: right 0.4s ease-out;
  cursor: pointer;
  transform-origin: center;
}

.icon-trash-o:hover {
  animation: trash_animation 0.6s linear;
}

@keyframes trash_animation {
  0% {
    transform: rotateZ(0deg);
  }
  35% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotateZ(30deg);
  }
}

/* Tablets & iPads (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .App {
    width: 70%;
  }
}

/* Desktop & big screens */
@media (min-width: 1025px) {
  .App {
    width: 50%;
  }
}
