.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  margin: auto;
  box-shadow: 0 0 5px #d0d0d0;
}

/* Tablets & iPads (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .App {
    width: 70%;
  }
}

/* Desktop & big screens */
@media (min-width: 1025px) {
  .App {
    width: 50%;
  }
}
